<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela inicial</title>
</head>
<body>
  <header>
    <div class="header-inicial">
      <div class="title">
        <h1>APLICATIVO WEB PARA AULAS DE INFORMÁTICA DO ENSINO FUNDAMENTAL</h1>
      </div>
      <nav>
        <a routerLink="cadastro-professor">Cadastro</a>
        <a routerLink="/tela-de-login">Login</a>
        <a href="#">Escolas</a>
        <a href="#">Novidades</a>
      </nav>
    </div>
  </header>
  <main>

  </main>
  <footer>

  </footer>
</body>
</html>
