<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header-inicial">
      <div class="title">
        <h1>APLICATIVO WEB PARA AULAS DE INFORMÁTICA DO ENSINO FUNDAMENTAL</h1>
      </div>
    </div>
  </header>
  <main>
    <div>
      <fieldset>
        <legend>Entrar</legend>
        <div class="button-container">
          <button>Professor</button>
          <button>Aluno</button>
        </div>
        <br><br>
        <input type="text" placeholder="Usuário">
        <br><br>
        <input type="text" placeholder="Senha">
        <br><br>
        <button>Login</button>
        <br>
        <label>Não tem uma conta?</label>
        <a routerLink="/cadastro-professor">Cadastro</a>
      </fieldset>
    </div>
  </main>
</body>
</html>
