<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div>
      <div>
        <h1>APLICATIVO WEB PARA AULAS DE INFORMÁTICA DO ENSINO FUNDAMENTAL</h1>
      </div>
      <div>
        <img src="#" alt="">foto
        ?
        <button>Sair</button>
      </div>
    </div>
  </header>
  <body>
    <div>
      <div>
        foto
        <br>
        nome
        <br>
        <label>Escola:</label>
        <br>
        <button>Configurar</button>
        <button>Sair</button>
      </div>
      <div>
        <ul id="lista-turmas">
          lista de turmas
      </ul>
      <button>+ Adicionar</button>
      </div>
    </div>
  </body>
</body>
</html>
