<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header-inicial">
      <div class="title">
        <h1>APLICATIVO WEB PARA AULAS DE INFORMÁTICA DO ENSINO FUNDAMENTAL</h1>
      </div>
    </div>
  </header>
  <body>
    <fieldset>
      <legend>Cadastro do aluno</legend>
      <div>
        <label>Nome</label>
        <input type="text" name="Nome" id="nome">
      </div>
      <div>
        <label>Sobrenome</label>
        <input type="text" name="Sobrenome" id="sobrenome">
      </div>
      <div>
          <label>Idade</label>
          <input type="number" name="idade" id="idade">
      </div>
      <div>
        <label>Sexo: </label>
        <input type="radio" name="sexo" value="masculino"> Masculino
        <input type="radio" name="sexo" value="feminino"> Feminino
      </div>
      <div>
        <label>Senha</label>
        <input type="password" name="Senha" id="senha">
        <br>
        <label>Confirme sua senha</label>
        <input type="password" name="Senha" id="confirme">
      </div>
      <div>
        <label>Turma</label>
        <input type="text" name="turma" id="turma">
      </div>
    </fieldset>
  </body>
</body>
</html>
